<div class="user-manager-container" [@routerTransition]="">
  <input appDatePicker #input>
  {{ input.value }}
  <div class="col-lg-6">
    <select (onChange)="onChange($event)" appChosen multiple data-placeholder="Choose a Country" class="chosen chzn-done" tabindex="2">
      <option value=""></option>
      <option selected value="United States">United States</option>
      <option value="United Kingdom">United Kingdom</option>
      <option selected value="Afghanistan">Afghanistan</option>
      </select>
    </div>
</div>

